asgiref==3.4.1
beautifulsoup4==4.10.0
cachetools==4.2.4
colorama==0.4.4
decorator==4.4.2
Django==4.0.1
django-debug-toolbar==3.2.4
django-unicorn==0.41.2
orjson==3.6.6
Pillow==9.0.0
shortuuid==1.0.8
soupsieve==2.3.1
sqlparse==0.4.2
termcolor==1.1.0
termcolors==0.1.0
tzdata==2021.5
