<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@1.6.1" integrity="sha384-tvG/2mnCFmGQzYC1Oh3qxQ7CkQ9kMzYjWZSNtrRZygHPDDqottzEJsqS4oUVodhW" crossorigin="anonymous"></script>
</head>
<body>
    <h1>selmi abderrahim</h1>

    <form
    hx-get="{% url 'add' %}"
    hx-target="#films"
    hx-trigger="submit">
        <input type="text" name="film" placeholder="type...">
        <button
        >Add</button>
    </form>

    <div id="films">
        {% include "films.html" %}
    </div>

    
    <script>
       document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
    </script>
</body>
</html>